
body{
    background-color: #f5f5f5;
}
.icon{
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;

}
/* 轮播图上方 */
.head {
    background-color: #fff;
    min-width: 1070px;
}
.wrap{
    padding: 0 10px;
    float: left;
}


/* 顶部横条 */
.head-top {
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f4f4f4;
    line-height: 30px;
    font: 12px "Microsoft YaHei",Helvetica Neue,tahoma,Arial,Verdana,"Hiragino Sans GB","\5b8b\4f53";
}
.head-top-center {
    margin: 0 auto;
    width: 1070px;
}
/* 城市定位 */
.city-wrap {
    position: relative;
    float: left;
    line-height: 30px;
}
.city{
    position: relative;
    float: left;
    display: block;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: #666;
    
}
.text{
    padding-left: 3px;
}
.city .icon {
    display: inline-block;
    vertical-align: middle;
    /* float: left; */
    color: #ff4040
}
/* 警告 */
.warning {
    float: left;
    display: block;
    height: 30px;
    padding-left: 20px;
    overflow: hidden;
    width: 230px;
    /* display: inline-block; */
    position: relative;
    line-height: 30px;
}
.warning-ul{
    position: absolute;
    left: 36px;
    top:0;
}
.warning-li{
    line-height: 30px;
    color: #666;
}
.warning .icon {
    display: inline-block;
    vertical-align: middle;
    /* float: left; */
    color: #ff4040;
 
}
/* 顶部条右侧 */

.head-top-center-right{
    float: right;
    line-height: 30px;
    color: #666;
    font: "Microsoft YaHei",Helvetica Neue,tahoma,Arial,Verdana,"Hiragino Sans GB","\5b8b\4f53";
}
.head-top-center-right .icon{
    color: #aaa;
}
.head-top-center-right li{
    float: left;
}
/* 登录注册 */
.login_and_register{
    float: left;
}
.log{
   color:#ff4040;
}
.reg{
    color: #aaa;
    padding-left: 8px;
}
/* 退出 */
.exit{
    display: none;
}
/* 会员俱乐部 */
.club{
    color: #666;
    font: "Microsoft YaHei",Helvetica Neue,tahoma,Arial,Verdana,"Hiragino Sans GB","\5b8b\4f53";
}
/* 我的订单 */
.menu{
    color: #666;
    font: "Microsoft YaHei",Helvetica Neue,tahoma,Arial,Verdana,"Hiragino Sans GB","\5b8b\4f53";
}

/* 顶部条下方 */
.head-bottom{
    width: 100%;
    height: 180px;

}
/* 内容区域 */
.head-bottom-wrap{
    margin: 0 auto;
    background: white;
    width: 1070px;
    height: 180px;
    position: relative;
}
.logo img{
    height: 100%;
    width: 100%;
}
.logo{
    float: left;
    position: relative;
    width: 300px;
    height: 140px;
}

/* 1号店logo */
.logo-left{
    position: relative;
    display: block;
    width: 140px;
    height: 140px;
    margin-top: 1px;
    display: inline-block;
}
/* 小logo */
.slogo-wrap{
    height: 90px;
    width: 160px;
    display:table-cell;
    vertical-align: middle;
}
.logo-right{
    display: table;
    width: 160px;
    height: 90px;
    position: absolute;
    right: 0;
    top: 30px;
}
/* 搜索框 */
.head-bottom-right{
    position: relative;
    float: right;
    width: 650px;
    padding-top: 50px;
}

.search{
    width: 476px;
    position: relative;
}
.search-input{
    width: 476px;
    border-radius: 100px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #333;
    background: #fcfcfc;
    border: 1px solid #e2e2e2;
    text-indent: 30px;
    outline: none;
}
button{
    border:none;
    /* border:1px solid black; */
    position: absolute;
    height: 42px;
    right: -2px;
    top:0;
    background-color: transparent;
    color: #333;
    
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    outline: none;
}
.search .icon{
    font-size: 24px;
    text-decoration: none;
    font-style: normal;
    color: #666;
}
/* 推荐 */
.tuijian{
    height: 19px;
    padding-top: 8px;
    padding-left: 32px;
    overflow: hidden;
}
.tuijian a{
    font-size:14px;
    color: #aaa; 
}
/* 购物车 */

.cart{
    position: absolute;
    z-index: 501;
    top: 50px;
    right: 0px;
    cursor: pointer;
}
.cart-inner{
    text-decoration: none;
    display: block;
    width: 120px;
    height: 20px;
    overflow: hidden;
    padding: 9px 0 9px;
    border: 1px solid #e2e2e2;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #fff;
    text-align: center;
    line-height: 20px;
    color: #333;
    font-size: 16px;
}
.cart .icon{
    margin-right: 6px;
    font-size: 18px;
    color: #272636;
}
/* 导航条 */
.head-bottom-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 38px;
    line-height: 38px;
    
}
/* 全部类目 */
.list{
    position: absolute;
    width: 140px;
    height: 100%;
    background: red;
}
.listall{
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #ff4040;
    cursor: pointer;
}
/* 举例类目 */

.exlist {
    padding-left: 140px;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    height: 100%;
}
.exlist li{
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
/* 轮播图 */
.lunbo{
    width: 100%;
    height: 400px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;
    
}
.lunbo-ul{
    width: 100%;
    height: 100%;
}
.lunbo-li{
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: 1
}
.lunbo-a{
    width: 100%;
    height: 100%;
    display: block;

}
.lunbo-img{
    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:url(../img/lunbo.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
/* 轮播图按钮 */
.lunbo-tab{
    margin: 0 auto;
    height: 40px;
    position: relative;
    width: 1070px;
    top: -30px;
    z-index: 100;
    cursor: pointer;
}
.lunbo-tab-ul{
    text-align: center;
    white-space: nowrap;
    font-size: 0px;
    overflow: hidden;
}
.lunbo-tab-ul li{
    margin-right: 10px;
    display: inline-block;
    width: 110px;
    overflow: hidden;
    height: 40px;
    background:#fff;
    text-align: center;
    color: #333;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
}
/* 广告 */
.guanggao{
    width: 1070px;
    height: 110px;
    margin-top: 20px;
    cursor: pointer;
    margin: 0 auto;
}
/* 限时 */
/* .superSingle {
    position: relative;
    width: 1070px;
    margin: 0 auto;
    height: 370px;
    background: url(../img/super_single_bg.jpg);
    margin-top: 20px;

}
.superSingle .single_one{
    background: url(../img/super_single_bg.jpg)
}
.superSingle ul {
    width: 1050px;
    height: 432px;
    margin: 0 auto;
    position: relative;
    top: 10px;
}
.superSingle ul li {
    background-color: #fff;
    width: 210px;
    height: 216px;
    float: left;
    font-size: 14px;
}
.xianshi-logo{
    width: 129px;
    height: 36px;
    margin-left: 20px;
    margin-top: 22px;
    cursor: pointer;
    border: 0 none;
    vertical-align: top;
}
.single_text{
    width: 180px;
    height: 40px;
    margin-left: 24px;
    position: relative;
    overflow: hidden;
}
.xianshi-font{
    font-size: 14px;
    color: rgba(255,255,255,0.8);
    display: block;
    margin-right: 8px;
    height: 22px;
    float: left;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
}
.line{
    border-bottom: 3px solid #fff;
    position: absolute;
    height: 1px;
    width: 28px;
    left: 0px;
    top: 27px;
}
.single_djs{
    width: 137px;
    height: 66px;
    margin-left: 24px;
    margin-top: 10px;
}
.djs_title{
    width: 100%;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
}
.djs_text{
    display: inline-block;
}
.count_time{
   height: 26px;
    font-size: 0;
    text-align: center;
    margin-top: 9px; 
}

.count_time span{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #161616;
    color: #fff;
    font-size: 20px;
    font-family: Tahoma;
    font-weight: bold;

    border-radius: 10px;
}
.count_time i{
    display: inline-block;
    width: 16px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: -3px;
    font-style: normal;
}

*/

/* 商品类目 */
/*.superSingle ul li a{
    width: 100%;
    height: 100%;
    display: block;
}

.superSingle ul li .single_top{
    width: 210px;
    height: 135px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}
.single_top_img{
    width: 110px;
    height: 110px;
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -55px;  
}
.single_bottom {
    height: 81px;
    width: 150px;
    margin: 0 auto;
    position: relative;
    margin-top: 5px;
}
.single_bottom .s_title{
    width: 153px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 14px;
}
.single_bottom .s_bar {
    width: 150px;
    height: 6px;
    margin-top: 5px;
    background-color: #e2e2e2;
    border-radius: 100px;
}
.single_bottom .s_con {
    height: 33px;
    padding-top: 12px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.single_bottom .s_con .s_num {
    display: inline-block;
    font-family: Tahoma,"Microsoft YaHei";
    color: #e50113;
    font-weight: bold;
    font-size: 14px;
}
.single_bottom .s_con .s_num .s_num_underline {
    text-decoration: line-through;
    font-size: 12px;
    color: #999;
    font-weight: normal;
    margin-left: 4px;
} */
/* 商品楼梯 */

.louti ul{
    position: fixed;
    left: 10px;
    top: 50%;
    z-index: 200;
}
.louti ul li{
    height: 40px;
    width: 70px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    background: #aaa;
    color: white;
    cursor: pointer;
}
.louti ul li:first-child{
    background: orange!important;
}
.louti ul li:last-child{
    background: #666;
}
.louti ul li:hover{
    background: #ff4040;
}
.louti ul .activecolor{
    background: #ff4040!important;
}
/* 商品楼 */
.shangpinlou{
    margin-top: 50px;

}
/* 商品楼内容 */
.quality_imoport .eat_all_world {
    height: 421px !important;
}

.con_width {
    width: 1070px;
    margin: 0 auto;
}
.quality_imoport {
    height: 420px;
    margin-top: 90px;
    background-color: #fff;
}

/* 商品楼内容左边 */
.quality_imoport .qua_show {
    width: 899px;
    height: 421px;
    float: left;
}
/* 左上部 */
.quality_imoport .qua_show .qua_tit {
    height: 67px;
}
.spe_tit {
    display: block;
}
/* 左上部 第一个词*/
.spe_tit .qua_tit_spanFirst {
    height: 35px;
    margin-left: 20px;
    /* margin-top: 12px; */
    font-size: 26px;
    /* color: #92a700; */
    display: inline-block;
    cursor: pointer;
    max-width: 190px;
    overflow: hidden;
    margin-top: 17px;
    vertical-align:bottom;
}
/* 左上部 第二个词*/
.spe_tit .qua_tit_spanLast {
    margin-left: 8px;
    font-size: 16px;
    /* color: #b6c166;
    color: rgba(133,152,0,0.7); */
    margin-top: 27px;
    height: 21px;
    cursor: pointer;
    display: inline-block;
    max-width: 208px;
    overflow: hidden;
    position: relative;
    top: -3px;
    color: rgba(183,115,71,0.7);
}

/* 左下部 */
.quality_imoport .qua_show .qua_show_con {
    width: 900px;
    height: 334px;
    position: relative;
    padding-left: 20px;
}
/* 左下部   左图 */
.quality_imoport .qua_show .qua_show_con .qua_show_con_left {
    position: relative;
    width: 189px;
    height: 334px;
    float: left;
}
/* 左下部  左小框 */
/* 左下部  左小框外壳 */
.quality_imoport .qua_show .qua_show_con .qua_left_font_con {
    font-size: 14px;
    color: #fff;
    position: absolute;
    width: 176px;
    height: 90px;
    margin-left: 14px;
    top: 16px;
}
/* 小框 */
.quality_imoport .qua_show .qua_show_con .qua_left_font_con .qua_left_f_con_font {
    background: rgba(255,255,255,0.1) !important;
    border: 1px solid rgba(255,255,255,0.61) !important;
    width: 74px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    float: left;
    margin-right: 9px;
    margin-bottom: 9px;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
}
/* 左下部  右 */
.quality_imoport .qua_show .qua_show_con .qua_show_con_right {
    width: 680px;
    height: 334px;
    float: left;
}
.quality_imoport .qua_show .qua_show_con .qua_show_con_right .import_snacks {
    width: 335px;
    height: 167px;
    position: relative;
    float: left;
    background-color: #faf7f6;
    background-image: linear-gradient(-135deg,#fafaf9 0%,#faf7f6 100%);
    cursor: pointer;
}
.quality_imoport .qua_show .qua_show_con .qua_show_con_right .import_snacks .import_tit {
    margin-top: 40px;
    color: #793a11;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 150px;
    margin-left: 30px;
    font-size: 14px;
}
.quality_imoport .qua_show .qua_show_con .qua_show_con_right .import_snacks .voucher_tit {
    color: #b77347;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 150px;
    margin-left: 30px;
    font-size: 14px;
}
.quality_imoport .qua_show .qua_show_con .qua_show_con_right .import_snacks .buy_btn {
    /* border: 1px solid rgba(192,132,92,0.5); */
    width: 78px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    margin-top: 15px;
    /* color: #c0845c; */
    cursor: pointer;
    overflow: hidden;
}
/* 所有点击进入的颜色 */
.quality_imoport.eat_all_world .buy_btn {
    border: 1px solid rgba(228,147,55,0.5) !important;
    color: #e49337 !important;
}
.quality_imoport .qua_show .qua_show_con .qua_show_con_right .import_snacks p, .quality_imoport .qua_show .qua_show_con .qua_show_con_right .import_snacks div {
    margin-left: 30px;
    font-size: 14px;
}
.quality_imoport .qua_show .qua_show_con .qua_show_con_right .import_snacks img {
    position: absolute;
    right: 30px;
    bottom: 27px;
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    -o-transition: -o-transform .4s ease;
    -moz-transition: transform .4s ease,-moz-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease,-webkit-transform .4s ease,-moz-transform .4s ease,-o-transform .4s ease;
    cursor: pointer;
    width: 110px;
    height: 110px;
}

.quality_imoport .qua_show .qua_show_con .qua_show_con_right .bursting {
    float: left;
    position: relative;
    width: 167px;
    height: 167px;
    cursor: pointer;
    border-right: 1px solid #f6f6f6;
}
.quality_imoport .qua_show .qua_show_con .qua_show_con_right .bursting p {
    margin-left: 15px;
    font-size: 14px;
    /* color: #666;
    margin-top: -1px; */
    overflow: hidden;
    height: 14px;
    width: 102px;
    line-height: 1;
    margin-bottom: 7px;

}
.burting_font.burting_font_color {
    color: #333 !important;
}
.burting_font {
    color: #666 !important;
    width: 102px;
    overflow: hidden;
    height: 20px;
    margin-top: 15px !important;
}
.quality_imoport .qua_show .qua_show_con .qua_show_con_right .bursting p.bkzj {
    color: #999;
}
.quality_imoport .qua_show .qua_show_con .qua_show_con_right .bursting p {
    margin-left: 15px;
    font-size: 14px;
    /* color: #666; */
    margin-top: -1px;
    overflow: hidden;
    height: 14px;
    width: 102px;
    line-height: 1;
    margin-bottom: 7px;
    color: #999;
}

.quality_imoport .qua_show .qua_show_con .qua_show_con_right .bursting img {
    position: absolute;
    width: 90px;
    height: 90px;
    bottom: 10px;
    right: 10px;
    margin-top: 15px;
    margin-left: 15px;
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    -o-transition: -o-transform .4s ease;
    -moz-transition: transform .4s ease,-moz-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease,-webkit-transform .4s ease,-moz-transform .4s ease,-o-transform .4s ease;
    cursor: pointer;
    border: 0 none;
    vertical-align: top;
}
/* 商品楼内容右边 */
.quality_imoport .qua_top {
    width: 170px;
    height: 421px;
    float: left;
    border-left: 1px solid #f6f6f6;
    position: relative;
}
/* 排行处图片 */
.quality_imoport .qua_top .qua_paihang {
    margin-left: 81px;
    position: absolute;
    width: 71px;
    background: 0;
}
/* 排行头部字 */
.quality_imoport .qua_top .qua_top_font {
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}
.quality_imoport .qua_top p {
    margin-left: 20.5px;
    font-size: 14px;
    color: #999;
    margin-top: 7px;
    width: 130px;
    height: 21px;
    overflow: hidden;
    white-space: nowrap;
}
/* 排行显示内容 */
.quality_imoport .qua_top .qua_top_slideCon {
    overflow: hidden;
    position: absolute;
    height: 317px;
    width: 120px;
    left: 28px;
    bottom: 39px;
}
/* 排行显示 */
.quality_imoport .qua_top .qua_top_slideCon .qua_top_slideCon_ul .qua_top_imgCon:nth-child(3n+1) {
    margin-top: 13px;
}
.quality_imoport .qua_top .qua_top_slideCon .qua_top_slideCon_ul .qua_top_imgCon {
    width: 90px;
    height: 90px;
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.07);
    -moz-box-shadow: 0 2px 20px 0 rgba(0,0,0,0.07);
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.07);
    margin-bottom: 11px;
    cursor: pointer;
}
.quality_imoport .qua_top .qua_top_slideCon .qua_top_slideCon_ul .qua_top_imgCon .qua_imgCon_font {
    position: absolute;
    background: url(../img/top1.jpg);
    font-size: 12px;
    color: #fff;
    width: 40px;
    height: 16px;
    text-align: center;
    font-family: Tahoma;
    font-weight: bold;
}

.quality_imoport .qua_top .qua_top_slideCon .qua_top_slideCon_ul .qua_top_imgCon img {
    margin-top: 15px;
    margin-left: 15px;
    width: 60px;
    height: 60px;
}

/* 排行左箭头 */
.quality_imoport .qua_top .qua_top_btn.qua_top_btn_forbid {
    background-color: #ebebeb !important;
}
.quality_imoport .qua_top .qua_top_btn.qua_top_left_btn {
    left: 60px;
}
.quality_imoport .qua_top .qua_top_btn {
    position: absolute;
    width: 16px;
    height: 16px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #ebebeb;
    color: #fff;
    bottom: 20px;
    text-align: center;
    line-height: 16px;
    background: #d5d5d5;
    cursor: pointer;
}
.quality_imoport .qua_top .qua_top_btn i {
    font-size: 13px;
    position: relative;
    top: 0px;
    left: 0px;
}
/* 排行右箭头 */
.quality_imoport .qua_top .qua_top_btn.qua_top_right_btn {
    left: 94px;
}


/* 流式布局 */
/* 头部 */
.understand_want {
    position: relative;
    margin-top: 0px !important;
}
.con_width {
    width: 1070px;
    margin: 0 auto !important;
}

.understand_want .under_log {
    width: 100%;
    height: 131px;
    position: relative;
}
.understand_want .under_log img {
    width: 390px;
    height: 65px;
    left: 50%;
    margin-left: -195px;
    top: 27px;
    position: absolute;
    border: 0 none;
    vertical-align: top;
}
.understand_want .under_log .u_log_font {
    width: 155px;
    height: 22px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #999;
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    top: 87px;
    left: 460px;
}

/* 布局开始 */
.understand_want .under_sp_list .under_list_single {
    width: 168px;
    height: 236px;
    position: relative;
    background-color: #fff;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}
.understand_want .under_sp_list .under_list_single .under_pro_pic {
    width: 150px;
    height: 150px;
    background-color: #f8f8f8;
    margin-left: 10px;
    margin-top: 10px;
}
.understand_want .under_sp_list .under_list_single .sin_img {
    width: 150px;
    height: 150px;
}
.understand_want .under_sp_list .under_list_single .single_tit {
    word-break: break-all;
    width: 150px;
    height: 38px;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;
    color: #333;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    line-height: 20px;
}.text_limit_limp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
}
/* 钱 */
.understand_want .under_sp_list .under_list_single .single_money {
    display: block;
    margin-left: 8px;
    font-size: 14px;
    color: #ff4040;
    font-weight: bold;
    margin-top: 8px;
    float: left;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    font-family: Tahoma,"Microsoft YaHei";
}
.understand_want .under_sp_list .under_list_single .single_money span {
    font-family: Tahoma;
    font-size: 14px;
    margin-left: -3px;
}

/* 移入显示 */
.understand_want .under_sp_list .under_list_single .sing_btn_con {
    opacity: 0;
    filter: Alpha(opacity=0);
    width: 170px;
    height: 74px;
    position: absolute;
    bottom: 0;
    z-index: 805;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
.clearfix:after {
    display: block;
    content: ".";
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}
.sing_btn_con .sin_gw{
    background: #ff4040;
    position: absolute;
    left: 30px;
    bottom: 15px;
    text-align: left;
    text-indent: 14px;
}
.sin_hove_btn_a{
    color: #fff;
}

.understand_want .under_sp_list .under_list_single .sing_btn_con i {
    font-size: 18px;
    line-height: 49px;
}
.sin_xs a {
    color: #ff4040;
}
.understand_want .under_sp_list .under_list_single .border_line {
    width: 168px;
    height: 236px;
    position: absolute;
    outline: 1px solid transparent;
    -webkit-transition: outline-color .5s;
    -o-transition: outline-color .5s;
    -moz-transition: outline-color .5s;
    transition: outline-color .5s;
    z-index: 800;
    top: 0px;
    left: 0px;
    display: inline-block;
}
.sin_xs {
    background-color: #fff0f0;
    border: 1px solid #ffcdcd;
    font-size: 12px;
    color: #ff4040;
    left: 92px;
    bottom: 15px;
    position: absolute;
    text-align: center;
}
.understand_want .under_sp_list .under_list_single .sing_btn_con .sin_hove_btn {
    width: 48px;
    height: 48px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    /* text-align: center; */
    line-height: 48px;
}

/* 底部 */
.ft_wrap{
    background: white;
    margin-top: 20px;
}
.ft_footer_service {
    padding: 30px 0;
    border-bottom: 1px solid #ebebeb;
    margin: 0 auto;
    width: 1070px;
}

.ft_footer_service a {
    margin-right: 81px;
    margin-left: 0px !important;
    cursor: default;
}
.ft_footer_service a {
    float: left;
    display: block;
    _display: inline;
    width: 205px;
    overflow: hidden;
    margin: 0 51px;
}

.ft_footer_service a img {
    float: left;
    display: block;
    /* _display: inline; */
    width: 66px;
    height: 66px;
    margin-right: 15px;
}
.ft_footer_service a b {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
.ft_footer_service a span {
    font-size: 14px;
    color: #999;
    line-height: 26px;
}



.ft_service_link {
    padding: 20px 0 20px;
    overflow: hidden;
    margin: 0 auto;
    width: 1070px;
}
.ft_help_list {
    float: left;
    padding-left: 15px;
}
.ft_service_link dl {
    float: left;
    display: block;
    _display: inline;
    width: 195px;
}
.ft_service_link dl dt {
    height: 32px;
    padding: 0 8px;
    font-size: 14px;
    color: #666;
    line-height: 32px;
    overflow: hidden;
    font-family: "Microsoft YaHei";
    color: #666;
    font-weight: bold;
}
.ft_service_link dl dd {
    height: 24px;
    padding: 0 8px;
    line-height: 24px;
    overflow: hidden;
    white-space: normal;
    font-size: 12px;
}
.ft_service_link dl dd a {
    color: #666;
}
.clearfix:after {
    display: block;
    content: ".";
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}