body, button, input, select, textarea {
    font: 12px Arial,Helvetica,sans-serif;
    color: #333;
}

.regist_header {
    padding: 16px;
    background: #FFF;
    border: 1px solid #e1e1e1;
}
.regist_header .wrap {
    width: 1200px;
}
.wrap {
    width: 980px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    border: 0 none;
    vertical-align: top;
}
a.blue_link {
    color: #06c;
}
.regist_header .logo {
    display: block;
    float: left;
    width: 54px;
    height: 48px;
}
.regist_header_right {
    float: right;
    line-height: 18px;
    font-family: "SimSun";
    color: #999;
}
.regist_header_right .help_wrap {
    background: #FFF;
}
.regist_header_right .help_wrap {
    position: relative;
    z-index: 1010;
    float: right;
    padding: 0 6px;
    margin-left: 25px;
    _display: inline;
}
.regist_header_right .help_wrap a.hd_menu {
    padding-right: 18px;
    background: url(../img/regist.jpg) no-repeat right -30px;
    color: #333;
}
.regist_header_right .help_wrap a.hd_menu .help_ico {
    width: 16px;
    height: 18px;
    display: inline-block;
    margin-right: 6px;
    background: url(../img/regist.jpg) no-repeat -344px 0;
    vertical-align: middle;
}
.regist_header_right .help_wrap .hd_menu_list {
    display: none;
}
.regist_header_right .help_wrap .hd_menu_list {
    display: none;
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 0;
    width: 98px;
    padding-top: 21px;
    border: 1px solid #ccc;
}
.fr {
    float: right;
}
.regist_header_right {
    float: right;
    line-height: 18px;
    font-family: "SimSun";
    color: #999;
}

.regist_header:after {
    display: block;
    content: ".";
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}










/* 注册 */
.regist_wrap {
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    background: #fcfcfc;
    padding: 30px 0 40px;
    height: 533.6px;
}
.regist {
    position: relative;
    z-index: 150;
    width: 330px;
    margin: 0 auto;
}

.regist_title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    color: #333;
}


/* 登录框 */
.regist_form{
    position: relative;
    z-index: 2;
    width: 328px;
    height: 50px;
    /* border: 1px solid #dedede; */
    border-radius: 3px;
}
.regist_form li {
    position: relative;
    min-height: 52px;
    _height: 52px;
    margin-top: 10px;
    margin-right: -200px;
}



.same_item {
    position: relative;
    z-index: 2;
    width: 328px;
    height: 50px;
    border: 1px solid #dedede;
    border-radius: 3px;
}


/* 输入框 */
.same_input {
    position: relative;
    z-index: 2;
    width: 288px;
    height: 20px;
    margin-top: 15px;
    padding: 0px 20px;
    background: 0;
    border: 0;
    outline: 0;
    font-size: 14px;
    line-height: 20px;
    color: #666;
}
/* 输入框内信息 */
.same_label {
    position: absolute;
    left: 20px;
    top: 0px;
    display: inline-block;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    color: #666;
    
}

/* 提示信息 */
.regist_tips {
    /* 控制显示 */
    opacity: 0;
    position: absolute;
    left: 348px;
    font-size: 12px;
    color: #666;
   
}
/* 提示信息框颜色 */
.regtip_rel {
    padding: 10px;
    background: #e4e4e4;
}

.regist_tips .regtip_rel i, .regist_tips_keywords .regtip_rel i {
    position: absolute;
    left: -10px;
    top: 50%;
    z-index: 2;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    margin-top: -5px;
    border-color: transparent #e4e4e4 transparent transparent;
    border-style: dashed solid dashed dashed;
    border-width: 5px;
    font-size: 0;
    font-style: italic;
    
}


.regist_tips .regtip_rel .tips_words {
    max-width: 160px;
    line-height: 20px;
    color: #666;
}
/* 正确显示√ */
.regist_right {
    display: none;
    position: absolute;
    left: 348px;
    top: 14px;
    width: 23px;
    height: 23px;
    background: url(../img/regist_new.jpg) no-repeat -50px 0;
}
/* 短信证码 */
.spec{
    width: 192px;
    float: left;
}
/* 短信验证按钮 */
.a_btn{
    position: relative;
    z-index: 2;
    width: 126px;
    height: 50px;
    margin-left: 10px;
    text-align: center;
    background-color: #57565f;
    line-height: 52px;
    color: #fff;
    cursor: default;
    border-radius: 2px;
    font-size: 14px;
    float: left;
}
/* 设置密码 */
.regist_tips_keywords .regtip_rel i {
    position: absolute;
    left: -10px;
    top: 20px;
    z-index: 2;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    margin-top: -5px;
    border-color: transparent #e4e4e4 transparent transparent;
    border-style: dashed solid dashed dashed;
    border-width: 5px;
    font-size: 0;
    font-style: italic;
}
/* 强度条 */
.regist_tips_keywords {
    /* 控制强度条显示 */
    display: none;
    position: absolute;
    left: 348px;
    top: 9px;
    font-size: 12px;
    color: #fff;
}
.regist_tips_keywords .tips_words_key {
    height: 20px;
    overflow: hidden;
}
.regist_tips_keywords .tips_words_key em {
    float: left;
    display: inline-block;
    width: 30px;
    height: 10px;
    margin-top: 5px;
    margin-right: 5px;
    background-color:  #fff;
}
.tips_words_key .em_words {
    float: left;
    display: inline-block;
    font-weight: normal;
    margin-left: 2px;
    color: #666;
}


/* 提交 */

.agreement_word {
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    color: #666;
    text-indent: 1em;
}
.agreement_word a {
    color: #06c;
    text-decoration: none;
    font-size: 12px;
}
/* 提交按钮 */
.agreement_btn {
    display: block;
    width: 330px;
    height: 52px;
    margin-top: 6px;
    background-color: #ff3c3c;
    font-size: 16px;
    line-height: 52px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
}